# PHPStorm folder
.idea

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> lexik/jwt-authentication-bundle ###
# NE DEVRAIT JAMAIS ETRE PRESENT DANS UN COMMIT
# Ce chemin est commenté pour simplifier la mise en place
# du projet dans le cadre de la soutenance du projet 7.
# /config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
